<h1>PuppyBook</h1>

<h2>Registered Dog Owners</h2>
<% if @owners.present? %>
  <ul>
    <% @owners.each do |owner| %>
      <li><%=link_to "#{owner.full_name}", owner %></li>
    <% end %>
  </ul>
<% else %>
  <p>--no registered dog owners--</p>
<% end %>

<%= link_to 'Register Dog', new_owner_path %>
